#InsightPreview-Section.embla {
    max-width:100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 392px;
  }
  #InsightPreview-Section .embla__viewport {
    overflow: hidden;
    max-width: 1440px;
  }
  #InsightPreview-Section .embla__container {
    backface-visibility: hidden;
    display: flex;
    gap:32px;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  #InsightPreview-Section .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
