#employee-testimonial-Section.embla {
    max-width: 679px;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  #employee-testimonial-Section .embla__viewport {
    overflow: hidden;
  }
  #employee-testimonial-Section .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  #employee-testimonial-Section .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  @media screen and (max-width:1200px) {
    #employee-testimonial-Section.embla {
      max-width: 100%;
      width: 100%;
    }
  }